body,
html {
    margin: 0;
    padding: 0;
}

.main {
    margin-top: 100px;
}

.google--logo {
    width: 300px;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.search--bar {
    width: 400px;
    line-height: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.btn {
    font-size: 14px;
    margin-top: 30px;
    background-color: #dfe1e5;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    border-radius: 4px;
    margin-left: 4px;
    margin-right: 4px;

}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
}